<div class="row" style="top: 65px;position: relative;display: block;margin: 10px 15px 15px 10px;">
  <div class="card-deck col s12">
    <div class="card col s4" *ngFor="let episode of episodes" style="padding-right:50px;padding-left:50px;max-width:350px;margin-right: 15px;margin-left: 15px;">
      <img class="card-img-top" src="{{episode.image.medium}}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{episode.name}}</h4>
        <div [innerHTML]="episode.summary">
        </div>
        <!-- <p class="card-text">{{episode.summary}}</p> -->
        <p class="card-text"><small class="text-muted">{{episode.airdate}}</small></p>
        <p class="card-text"><small class="text-muted">{{episode.airtime}}</small></p>

      </div>
    </div>
  </div>
</div>
